<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 MageWorx. All rights reserved.
 * See LICENSE.txt for license details.
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <mageworx_seo>
            <markup>
                <product>
                    <rs_enabled>1</rs_enabled>
                    <image_product_mode>base</image_product_mode>
                    <rs_enabled_for_specific_product>1</rs_enabled_for_specific_product>
                    <ga_enabled>1</ga_enabled>
                    <ga_css_selector>.description</ga_css_selector>
                    <disable_default_review>1</disable_default_review>
                    <shipping_details>
                        <enabled>1</enabled>
                    </shipping_details>
                    <merchant_return_policy>
                        <source>custom</source>
                    </merchant_return_policy>
                </product>
                <category>
                    <image_product_mode>base</image_product_mode>
                    <rs_enabled>1</rs_enabled>
                    <ga_enabled>1</ga_enabled>
                    <ga_css_selector>.category-description</ga_css_selector>
                    <robots_restriction>1</robots_restriction>
                </category>
                <landingpage>
                    <rs_enabled>1</rs_enabled>
                    <og_enabled>1</og_enabled>
                    <robots_restriction>1</robots_restriction>
                </landingpage>
                <page>
                    <ga_enabled>1</ga_enabled>
                    <ga_css_selector>.cms-content</ga_css_selector>
                </page>
                <website>
                    <rs_enabled>1</rs_enabled>
                </website>
                <breadcrumbs>
                    <rs_enabled>1</rs_enabled>
                </breadcrumbs>
                <open_graph>
                    <image_product_mode>base</image_product_mode>
                    <product_title_code>name</product_title_code>
                    <product_description_code>short_description</product_description_code>
                    <enabled_for_category>1</enabled_for_category>
                    <category_title_code>meta_title</category_title_code>
                    <category_description_code>meta_description</category_description_code>
                    <page_title_code>meta_title</page_title_code>
                    <page_description_code>meta_description</page_description_code>
                    <enabled_for_home_page>1</enabled_for_home_page>
                </open_graph>
                <tw_cards>
                    <product_title_code>name</product_title_code>
                    <product_description_code>short_description</product_description_code>
                    <category_title_code>meta_title</category_title_code>
                    <category_description_code>meta_description</category_description_code>
                    <page_title_code>meta_title</page_title_code>
                    <page_description_code>meta_description</page_description_code>
                </tw_cards>
            </markup>
        </mageworx_seo>
    </default>
</config>
