<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <worldpay_cc>
                <active>0</active>
                <title>Worldpay Business Payment</title>
                <order_status>processing</order_status>
                <model>Bootsgrid\Worldpay\Model\Cc</model>
                <payment_action>authorize</payment_action>
                <transaction_mode>test</transaction_mode>
                <allowspecific>0</allowspecific>
                <use_store_currency>0</use_store_currency>
                <fix_contact>1</fix_contact>
                <hide_contact>0</hide_contact>
                <enable_online_operations>0</enable_online_operations>
                <signature_params>instId:cartId:currency:MC_callback:amount</signature_params>
            </worldpay_cc>
        </payment>
    </default>
</config>