.gw-euvat-field label {
    font-weight: 600;
    margin:0 0 8px;
    display: inline-block;
}

.gw-euvat-field .message-success {
    margin:10px 0 0 0;
}

.gw-euvat-field #vatid-retry {
    cursor: pointer;
}